<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <title>{{.Name}} {{.Job}}</title>
</head>
<body>
  <main>
    {{template "about.tmpl" .}}
    {{template "mission.tmpl" .}}
    {{template "experience.tmpl" .}}
    {{template "education.tmpl" .}}
    {{template "language.tmpl" .}}
    {{template "projects.tmpl" .}}
    {{template "hobbies.tmpl" .}}
  </main>
</body>
</html>