<div class="about">
  <h1 class="about__name">{{.Name}}</h1>
  <h2>This resume was generated with Go template</h2>
  <div class="about__job">
    {{.Job}}
  </div>
  <div class="about__contact">
    <a href="mailto:{{.Email}}">{{.Email}}</a>
    <p> {{.Telephone}} </p>
  </div>
</div>